# Core
langchain==0.2.16
langchain-community==0.2.16

# Document Loaders
pypdf==4.3.1
beautifulsoup4==4.12.3

# Utilities
python-dotenv==1.0.1
pyyaml==6.0.2
loguru==0.7.2

sentence-transformers==3.0.1

qdrant-client==1.11.1